body {
  font-family: Graphik, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: dodgerblue;
  color: white;
  height: 100px;
  width: 100vw;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

button {
  background-color: white;
  color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  transition: filter 0.3s ease;
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

button#download {
  background-color: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  padding: 10px;
  transition: filter 0.3s ease;
}

button#download:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#fileInput {
  color: orange;
  padding: 15px;
  border-radius: 15px;
}

#htmlInput {
  width: 90vw;
  background-color: #f1f1f1;
}
